<div>
    <i ng-class="{ 'fa-microphone-slash' : track.service.isRecording(),
                   'fa-microphone' : !track.service.isRecording()}"
       ng-click="track.toggleRecording()"
       class="fa" aria-hidden="true"></i>
    <!--<i class="fa fa-stop" aria-hidden="true"></i>-->
    <i ng-class="{ 'fa-play' : !track.service.isPlaying(),
                   'fa-stop' : track.service.isPlaying()}"
       ng-click="track.togglePlay()"
       class="fa" aria-hidden="true"></i>

    <i ng-class="{ 'highlight': track.service.isLooping() }" class="fa fa-refresh" ng-click="track.toggleLooping()" aria-hidden="true"></i>

    <i class="fa fa-minus" aria-hidden="true"></i>
    <i class="fa fa-plus" aria-hidden="true"></i>

</div>