<div>

   <!-- <i ng-click="track.service.cut()" class="fa fa-cut"></i>-->
    <div class="track-container">
        <i ng-class="{ 'fa-microphone-slash selected' : track.service.isRecording(),
                       'fa-microphone' : !track.service.isRecording()}"
           ng-click="track.toggleRecording()"
           class="fa" aria-hidden="true"></i>
        <!--<i class="fa fa-stop" aria-hidden="true"></i>-->
        <i ng-class="{ 'fa-play' : !track.service.isPlaying(),
                       'fa-play selected' : track.service.isPlaying()}"
           ng-click="track.togglePlay()"
           class="fa" aria-hidden="true"></i>

        <i ng-class="{ 'selected': track.service.isLooping() }" class="fa fa-refresh" ng-click="track.toggleLooping()" aria-hidden="true"></i>

        <i ng-click="track.onClose()" class="fa fa-trash" aria-hidden="true"></i>

<!--    <i ng-click="track.lowerFrequency()" class="fa fa-minus" aria-hidden="true"></i>
    {{ track.service.getFrequency() }}
    <i ng-click="track.increaseFrequency()" class="fa fa-plus" aria-hidden="true"></i>-->
    </div>

    <div class="wave-container">
       <!-- <div id="{{ track.service.getContainerId() }}" class="waveform">
        </div>-->
        <wavesurfer blob="track.service.blob" class="waveform"></wavesurfer>
        <waveform-cursors ng-model="track.cursors"></waveform-cursors>
    </div>
</div>