<div class="tracklist-container">
    <div ng-repeat="trackObj in tracklist.tracklistService.getTracks() track by $index">
        <my-track on-close="tracklist.close($index)" class="track" ng-model="trackObj">
        </my-track>
    </div>
    <div ng-click="tracklist.tracklistService.addTrack()">
        <my-track class="track" style="pointer-events: none;opacity: 0.4;">
        </my-track>
    </div>
</div>

<div class="footer">
    <i style="font-size: 90px;margin-top: 15px;"
       ng-click="tracklist.tracklistService.toggleSelected()"
       class="fa fa-play" aria-hidden="true"></i>
</div>


